

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-normal {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,500&display=swap');
  .raleway-medium {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  *{
    margin: 0;
    padding: 0;
}
  /* share style */
  .color-black{
    color: #111111;
  }
  .color-white{
    color: #ffffff;
  }
  .primary-color{
    color: #FEA301;
  }
  .second-color{
    color: #01ACFD;
  }
  .third-color{
    color: #05D4DF;
  }
  .fourth-color{
    color: #5D58EF;
  }
  .p-color{
    color: #808080;
  }
  .read-more-color{
    color: #64C8FF;
  }

/* navbar */
nav{
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 20px 140px;
}
.home-icon{
    display: flex;
    text-decoration: none;
    align-items: center;
}
.logo-name{
    font-size: 2rem;
    font-weight: 700; 
    margin-left: 12px; 
}

nav ul{
  display: flex;
  align-items: center;
}
nav ul li{
  list-style: none;
  margin-right: 32px;
  text-decoration: none;
  font-size: 1.25rem;  
  font-weight: 500;
}
nav ul a{
  text-decoration: none;
}

.btn-primary{
  padding: 10px 60px;
  border-radius: 12px;
  border: none;
  font-size: 1.25rem;
  font-weight: 600;
  background-color: #FEA301;
}
/* start hero section */
.hero-section{
  display: flex;
  padding: 0 140px;
  align-items: center;
  justify-content: space-between;
}
.hero-sec-content{
  max-width: 640px;
}
.hero-headline{
  font-size: 3.5rem;
  font-weight: 700;
}
.hero-bodytext{
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 24px;
}
.secondary-btn{
  padding: 10px 47px;
  border-radius: 12px;
  border: none;
  font-size: 1.25rem;
  font-weight: 600;
  background-color: #111111;
  margin-top: 24px;
}









/* section-2 */
.head-title{
  font-size: 2.75rem;
  font-weight: 700;
  margin-top: 60px;
  text-align: center;
}
.classes{
  background-image: url(../assets/bg.png);
  background-repeat: no-repeat;
}
.cards{
  display: flex;
  padding: 80px 140px;
}
.card{
  padding: 52px 40px;
  margin-right: 28px;
  border-radius: 18px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.card-icon{
  height: 136px;
  width: 136px;

}
.card-head{
  font-size: 1.5rem;
  font-weight: 700;
  margin: 32px;
  color: #111111;
}
.card-content{
  font-size: 1rem;
  font-weight: 500;
  color: #808080;
  margin-bottom: 32px;
}
.read-more{
  font-size: 1rem;
  font-weight: 700;
}
#card-1{
  border: 0.94px solid rgba(222, 245, 255, 1);
  background-image: linear-gradient(rgba(222, 245, 255, 1), #ffffff);
}
#card-2{
  border: 0.94px solid rgba(255, 244, 220, 1);
  background-image: linear-gradient(rgba(255, 244, 220, 1), #ffffff);
}
#card-3{
  border: 0.94px solid rgba(242, 232, 255, 1);
  background-image: linear-gradient(rgba(238, 225, 255, 1), #ffffff);
}
.arrow{
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow img{
  width: 60px;
  margin-right: 10px;
  margin-bottom: 60px;
}






/* section-our-story */
#section-our-story{
  background-image: linear-gradient(#ffffff, rgba(249, 222, 173, 1));
}
.all-card{
  display: flex;
  padding: 80px 140px;
}

.first-card{
  max-width: 540px;
  background-color: #ffffff;
  border-radius: 16px;
  margin-right: 18px;
}
.first-card img{
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.date-button-first{
  padding: 14px 18px;
  background-color: #3CD8E8;
  border-radius: 24px;
  border: none;
  position: relative;
  margin-left: 40px;
  font-size: 1rem;
  font-weight: 500;
  width: 174px;
  text-align: center;
  margin-top: -30px;
  
}
.card-content-big{
  padding: 36px 40px;
}
.card-title{
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 40px;
}
.card-description{
  font-size: 1rem;
  font-weight: 500;
  line-height: 28px;
}

.fourth-card{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
}
.card-two{
  max-width: 290px;
  background-color: #ffffff;
  border-radius: 16px;
}
.card-two img{
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.card-content-small{
  padding: 24px 36px; 
}
.card-title-small{
  font-size: 1rem;
  font-weight: 700;
  line-height: 28px;
}
.date-button-two{
  padding: 9px 18px;
  background-color: #95B226;
  border-radius: 24px;
  border: none;
  position: relative;
  margin-left: 36px;
  font-size: 1rem;
  font-weight: 500;
  width: 160px;
  text-align: center;
  margin-top: -24px;
}

.date-button-three{
  padding: 9px 18px;
  background-color: #5D58F0;
  border-radius: 24px;
  border: none;
  position: relative;
  margin-left: 36px;
  font-size: 1rem;
  font-weight: 500;
  width: 160px;
  text-align: center;
  margin-top: -24px;
}

.view-all-btn{
  display: flex;
  justify-content: center;
  /* margin-bottom: 60px; */
  padding-bottom: 60px;
}








footer{
  /* height: 520px; */
  background-color: #01ACFD;
  padding: 120px 140px;
}
.footer{
  display: flex;

}
.footer-icon{
  display: flex;
  text-decoration: none;
  align-items: center;
}
.logo-footer{
  font-size: 2rem;
  font-weight: 700; 
  margin-left: 12px; 
}
.footer-p{
  max-width: 400px;
  margin-top: 36px;
  font-size: 1.25rem;
  font-weight: 400;
  margin-right: 172px;
}
.about-title, .touch-part {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 32px;
  margin-right: 143px;
}
.item{
  margin-bottom: 20px;
  font-size: 1.25rem;
  font-weight: 500;
  list-style: none;

}
.hide{
  display: none;
}
/* .icons{
  display: flex;
  margin-right: 30px;
} */

#card-tow-ex{
display: none;
}
#card-tow-ext{
display: none;
}


/* responsive media query */
@media screen and (max-width: 576px) {
  .navber {
    padding: 12px 16px;
    border-bottom: .5px solid #FEA301;
  }
  .nav-item{
    
  }
  nav ul li{
    margin-right: 16px;
    font-size: 1rem;  
  }
  .logo-name, .btn-primary{
    display: none;
  }
  .navber img{
    height: 46px;
    width: 46px;
    margin-right: 20px;
  }

  .hero-section{
    flex-direction: column-reverse;
    padding: 28px 26px;
    align-items: center;
    justify-content: center;
  }
  
  .hero-img{
    width: 336.58px;
    height: 413px;
  }
  .hero-sec-content{
    max-width: 357px;
  }
  .hero-headline{
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
  }
  .hero-bodytext{
    font-size: .88rem;
    margin-top: 18px;
    text-align: center;
  }
  #black-btn{
    margin-left: 80px;
  }

/* section-2 */
.head-title{
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 60px;
  text-align: center;
}
.cards{
  flex-direction: column;
  padding: 20px 16px;
  
}
#card-1, #card-2, #card-3{
  margin-bottom: 12px;
  margin-right: 0;
}
.arrow{
  display: none;
}

/* section-3 */
.first-card{
  display: none;
}
.all-card{
  padding: 16px 28px;
}
.fourth-card{
  gap: 11px;
}
.card-two{
  max-width: 173px;
  border-radius: 9px;
}
.card-two img{
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  max-width: 173px;
}
.card-content-small{
  padding: 16px 22px; 
}
.card-title-small{
  font-size: .55rem;
  line-height: 17px;
}
.date-button-two{
  padding: 5px 11px;
  border-radius: 12px;
  border: none;
  position: relative;
  margin-left: 22px;
  font-size: .55rem;
  width: 103px;
  text-align: center;
  margin-top: -15px;
}

.date-button-three{
  padding: 5px 11px;
  border-radius: 12px;
  border: none;
  position: relative;
  margin-left: 22px;
  font-size: .55rem;
  width: 103px;
  text-align: center;
  margin-top: -15px;
}

#card-tow-ex{
  display: inline;
  }
  #card-tow-ext{
  display: inline;
  }
  .secondary-btn{
    padding: 10px 37px;
    font-size: 1rem;
    font-weight: 600;
  }
  

/* footer section */
footer{
  padding: 65px 20px;
}
.footer{
  flex-direction: column;

}
.footer-icon{
  display: flex;
  text-decoration: none;
  align-items: center;
}
.logo-footer{
  font-size: 2rem;
}
.footer-p{
  max-width: 357px;
  margin-top: 36px;
  font-size: 1rem;
  margin-right: 20px;
}
.about-title, .touch-part {
  font-size: 1.25rem;
  font-weight: 700;
  margin-right: 20px;
}






}

/* minimum responsive media query */
/* @media screen and (min-width: 576px) and (max-width: 992px) {
  .teams{
  flex-direction: column;
  margin: auto 20px;
    
  }
  .sponsors-company .facts-container{ 
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  #experience-batch{
    margin-top: 20px;
    margin-left: 20px;
  }
} */